* {
    margin: 0 ;
    padding: 0px;
}

#main__cont{
    /* margin-top: 10vh; */
    background-color: rgb(46, 153, 224);
    width: 100vw;
    height: 100vh;
    /* padding: 5vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#todo__form {
    align-self: center;
    display: flex;
    flex-direction: column;
}

/* #todo__form *{
    padding: 3vh;
} */

/* #butt {
    margin: 2vh;
    width: 20vw;
    align-self: center;
} */


.item__ok{
    border: 1px solid #000;
    margin: 2vh;
    padding: 5vh;
    background-color: papayawhip;
}

.item__err{
    border: 1px solid red;
    margin: 2vh;
    padding: 5vh;
    color: darkred;
}


/*-------------------small devices-----------------------*/
@media only screen and (max-width: 767px){
    #main__cont {
        width: 100vw;
        display: grid;
        grid-template-rows: 10vh 40vh 10vh 1fr 10vh;
        grid-template-columns: 1fr;
    }
    #head {
        width: 100%;
        height: 10vh;
        background-color: bisque;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #title {
        font-family: fantasy;
        
    }
    #todo__form {
        display: flex;
        justify-content: center;
    }
    #todo__form label{
        font-size: 36px;
    }

    #user__input {
        width: 90%;
        height: 5vh;
        margin: 5vh;
        align-self: center;
        padding: 1vh;
    }

    #butt {
        width: 25vw;
        height: 5vh;
        background-color: bisque;
        border-radius: 5px;
        color: #000;
        font-size: 18px;
        align-self: center;
    }

    .item__ok{
        font-size: 20px;
        padding: 2vh;
    }

    .item__err{
        height: 4vh;
        margin: 1vh;
        padding: 2vh;
    }
    #err__cont {
        background-color: cornflowerblue;
    }
    #msg__cont {
        background-color: darkkhaki;
    }

    #foot{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    #copy {
        align-self: center;
    }

    #text {
        font-size: 30px;
        margin-top: 1vh;
    }
}

/*-------------------tablet devices-----------------------*/
@media only screen and (min-width: 768px){
    #main__cont {
        width: 100vw;
        display: grid;
        grid-template-rows: 10vh 40vh 10vh auto 10vh;
        grid-template-columns: 1fr;
    }
    #head {
        width: 100%;
        height: 10vh;
        background-color: bisque;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #title {
        font-family: fantasy;
        
    }
    #todo__form {
        display: flex;
        justify-content: center;
    }
    #todo__form label{
        font-size: 36px;
    }

    #user__input {
        width: 90%;
        height: 5vh;
        margin: 5vh;
        align-self: center;
        padding: 1vh;
        font-size: 20px;
    }

    #butt {
        width: 25vw;
        height: 5vh;
        background-color: bisque;
        border-radius: 5px;
        color: #000;
        font-size: 18px;
        align-self: center;
    }

    .item__ok{
        font-size: 20px;
        padding: 2vh;
    }

    .item__err{
        height: 4vh;
        margin: 1vh;
        padding: 2vh;
        font-size: 22px;
    }
    #err__cont {
        background-color: cornflowerblue;
    }
    #msg__cont {
        background-color: darkkhaki;
        height: auto;
    }

    #foot{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    #copy {
        align-self: center;
    }

    #text {
        font-size: 30px;
        margin-top: 1vh;
    }
}





/*-------------------large devices-----------------------*/
@media only screen and (min-width: 999px){
    
}
